name: CI - Lint, Build, Test & Security Check.

on:
  push:
    branches:
      - dev

jobs:
  ci:
    name: CI Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22.20

      - name: Install dependencies
        run: npm ci

      - name: lint
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          prettier: true

      - name: unit tests
        run: npm test
